body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#champ {
    border: none;
    border: 2px solid #835d5d;
    width: 45%;
    height: 5%;
}

#ul li {
    list-style: none;
}

#ul {
    border: 1px solid black;
    border-top: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 0;
    width: 40%;
    display: none;
}